@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url("../Assets/bg.jpeg");
  background-repeat: repeat;
  background-size: 500px;
  color: #c4c4c4;
  font-family: "Play", sans-serif;
}

@media only screen and (min-width: 768px) {
  body {
    background-size: 1000px;
  }
}

@media only screen and (min-width: 1450px) {
  body {
    background-size: 1500px;
  }
}

.logo-container {
  font-family: "Permanent Marker", cursive;
}

.logo-container .logo {
  color: #3b6978;
  text-decoration: none;
  font-size: 24px;
}

@media only screen and (min-width: 768px) {
  .logo-container .logo {
    font-size: 34px;
  }
}

@media only screen and (min-width: 1450px) {
  .logo-container .logo {
    font-size: 44px;
  }
}

.logo-container .logo span {
  color: #eeeeee;
}

.menu-logo-hdr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  top: -50px;
}

/* Landing Page */
.hero {
  margin: 2rem;
  margin-top: 60px;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media only screen and (min-width: 1450px) {
  .hero .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 600px 600px;
    grid-template-columns: 600px 600px;
    grid-gap: 50px;
  }
}

.hero .container .left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .hero .container .left-col {
    font-size: 34px;
  }
}

@media only screen and (min-width: 1450px) {
  .hero .container .left-col {
    line-height: 38px;
  }
}

.hero .container .left-col p {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .hero .container .left-col p {
    margin-bottom: 40px;
  }
}

.hero .container .left-col a {
  text-decoration: none;
  color: #c4c4c4;
  background-color: #3b6978;
  padding: 0.7rem 2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media only screen and (min-width: 768px) {
  .hero .container .left-col a {
    padding: 1rem 3rem;
  }
}

.hero .container .left-col a:hover {
  background-color: #c4c4c4;
  color: #3b6978;
}

.hero .right-col {
  margin-top: 50px;
}

.hero .right-col .hero {
  width: 263px;
  height: 180px;
}

@media only screen and (min-width: 768px) {
  .hero .right-col .hero {
    width: 463px;
    height: 380px;
  }
}

@media only screen and (min-width: 1450px) {
  .hero .right-col .hero {
    width: 563px;
    height: 480px;
  }
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 15px;
}

footer p {
  text-align: center;
  font-size: 18px;
}

/* Sign Up & Login */
.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .login {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .login header .login-hdr {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .login header .login-hdr label {
    font-size: 3.3em;
  }
  .login header .login-hdr img {
    width: 400px;
  }
}

@media only screen and (min-width: 1450px) {
  .login {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
}

.login header {
  padding: 55px;
}

.login header .login-hdr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .login header .login-hdr {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
  }
}

.login header .login-hdr label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 2.2em;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .login header .login-hdr label {
    font-size: 3.3em;
  }
}

@media only screen and (min-width: 1450px) {
  .login header .login-hdr label {
    font-size: 4.3em;
  }
}

.login header .login-hdr img {
  width: 200px;
}

@media only screen and (min-width: 768px) {
  .login header .login-hdr img {
    width: 300px;
  }
}

@media only screen and (min-width: 1450px) {
  .login header .login-hdr img {
    width: 400px;
  }
}

.login .login-form {
  background-color: #393e46;
  border-radius: 6px;
  width: 371px;
  height: auto;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .login .login-form {
    width: 471px;
  }
}

@media only screen and (min-width: 1450px) {
  .login .login-form {
    width: 571px;
  }
}

.login .login-form .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.login .login-form .container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.login .login-form .container .form * {
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .login .login-form .container .form * {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1450px) {
  .login .login-form .container .form * {
    font-size: 2em;
  }
}

.login .login-form .container .form input {
  background-color: #eeeeee;
  border: none;
  border-radius: 2px;
}

.login .login-form .container .form button {
  background-color: #3b6978;
  border: none;
  text-transform: uppercase;
  color: #c4c4c4;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.login .login-form .container .form button:hover {
  background-color: #c4c4c4;
  color: #3b6978;
}

.login .login-form .container .form label {
  font-weight: bold;
}

.login .login-form .container .form .toto a {
  text-decoration: none;
  font-size: 20px;
  color: #c4c4c4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.login .login-form .container .form .toto a:hover {
  color: #3b6978;
}

@media only screen and (min-width: 768px) {
  .login .login-form .container .form .toto a {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1450px) {
  .login .login-form .container .form .toto a {
    font-size: 40px;
  }
}

.login .login-form .container .form .user-hdr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.login .login-form .container .form .user-hdr .names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .login .login-form .container .form .user-hdr .names {
    font-size: 26px;
  }
}

@media only screen and (min-width: 1450px) {
  .login .login-form .container .form .user-hdr .names {
    font-size: 26px;
  }
}

.login .login-form .container .form .user-hdr .names input {
  width: 130px;
}

@media only screen and (min-width: 768px) {
  .login .login-form .container .form .user-hdr .names input {
    width: 150px;
    padding: 10px 22px;
    font-size: 26px;
  }
}

@media only screen and (min-width: 1450px) {
  .login .login-form .container .form .user-hdr .names input {
    width: 150px;
    padding: 10px 22px;
    font-size: 26px;
  }
}

/* Profile */
.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.profile .profile-hdr {
  margin: 20px;
}

.profile .profile-hdr header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: rows;
  flex-direction: rows;
}

.profile .profile-hdr header * {
  margin-left: 2px;
}

.profile .profile-hdr header button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.profile .logout {
  cursor: pointer;
}

.profile .gamelist,
.profile .user-info {
  background-color: #c4c4c4;
  color: #222831;
  padding: 20px 30px;
  border-bottom: #3b6978 5px solid;
  border-left: #3b6978 5px solid;
  border-top: #3b6978 2px solid;
  border-right: #3b6978 2px solid;
  margin: 25px;
  width: 400px;
  border-radius: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.profile .gamelist i,
.profile .user-info i {
  font-size: 20px;
}

.profile .gamelist legend,
.profile .user-info legend {
  font-weight: bold;
  font-size: 25px;
  color: #222831;
  text-shadow: -2px -2px 0 #c4c4c4, 2px -2px 0 #c4c4c4, -2px 2px 0 #c4c4c4,
    2px 2px 0 #c4c4c4;
  text-transform: uppercase;
}

.profile .gamelist .container,
.profile .user-info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  font-size: 24px;
}

.profile .gamelist ul,
.profile .user-info ul {
  margin: 5px 15px;
}

.profile .gamelist ul li,
.profile .user-info ul li {
  margin-bottom: 5px;
}

.profile .gamelist label,
.profile .user-info label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: rows;
  flex-direction: rows;
}

.profile .gamelist label .gamedatalist,
.profile .user-info label .gamedatalist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: rows;
  flex-direction: rows;
}

.profile .gamelist label .gamedatalist select,
.profile .user-info label .gamedatalist select {
  margin-left: 2px;
  padding: 2px 12px;
}

.profile .gamelist label .gamedatalist .add-game,
.profile .user-info label .gamedatalist .add-game {
  padding: 0;
  background: transparent;
  border: none;
  margin: 20px auto;
  cursor: pointer;
}

.profile .posts,
.profile .platforms {
  background-color: #c4c4c4;
  color: #222831;
  padding: 20px 40px;
  border-bottom: #3b6978 5px solid;
  border-left: #3b6978 2px solid;
  border-top: #3b6978 2px solid;
  border-right: #3b6978 5px solid;
  border-radius: 42px;
  margin: 25px;
  width: 400px;
}

.profile .posts ul,
.profile .platforms ul {
  list-style: none;
}

.profile .posts .myposts,
.profile .platforms .myposts {
  background-color: #222831;
  padding: 12px;
  border-radius: 12px;
  color: #eeeeee;
  margin-bottom: 5px;
}

.profile .posts .myposts i,
.profile .platforms .myposts i {
  margin-left: 15px;
}

.profile .posts .myposts i *,
.profile .platforms .myposts i * {
  margin-left: 8px;
}

.profile .posts legend,
.profile .platforms legend {
  font-weight: bold;
  font-size: 25px;
  color: #222831;
  text-shadow: -2px -2px 0 #c4c4c4, 2px -2px 0 #c4c4c4, -2px 2px 0 #c4c4c4,
    2px 2px 0 #c4c4c4;
  text-transform: uppercase;
}

.profile .posts .container,
.profile .platforms .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: rows;
  flex-direction: rows;
  font-size: 24px;
}

.profile .posts .container *,
.profile .platforms .container * {
  margin: 8px;
}

.profile .posts .container label,
.profile .platforms .container label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.profile .posts .container label input[type="ckeckbox"],
.profile .platforms .container label input[type="ckeckbox"] {
  border: #3b6978 3px solid;
}

.profile .posts .container label input[type="ckeckbox"]:checked,
.profile .platforms .container label input[type="ckeckbox"]:checked {
  background-color: aqua;
}

.profile button {
  text-transform: uppercase;
  padding: 18px 45px;
  background-color: #3b6978;
  color: #c4c4c4;
  font-weight: bold;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.profile button:hover {
  color: #3b6978;
  background-color: #c4c4c4;
}

.profile .popup {
  position: fixed;
  top: 30%;
  width: 90%;
  height: 50vh;
  color: #c4c4c4;
}

.profile .popup .popup-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #222831;
  border: #c4c4c4 5px solid;
}

.profile .popup .popup-inner section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: rows;
  flex-direction: rows;
  margin-top: 20px;
}

.profile .popup .popup-inner section .no-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
}

.profile .popup .popup-inner section .yes-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
  color: #f26157;
}

.profile .popup .popup-inner form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.profile .popup .popup-inner form * {
  margin: 5px;
}

.profile .popup .popup-inner form label {
  font-size: 20px;
}

.profile .popup .popup-inner form input[type="password"],
.profile .popup .popup-inner form input[type="text"],
.profile .popup .popup-inner form input[type="email"] {
  padding: 8px 12px;
}

.profile .popup .popup-inner form input[type="button"] {
  background-color: #3b6978;
  border: none;
  color: #c4c4c4;
  font-weight: bold;
  padding: 8px 25px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.profile .popup .popup-inner form input[type="button"]:hover {
  background-color: #c4c4c4;
  color: #3b6978;
}

.profile .popup .popup-inner h1 {
  text-align: center;
  margin: 10px;
}

.profile .popup .popup-inner a {
  font-size: 18px;
  margin: 5px;
}

.profile .popup .popup-inner .close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  font-size: 15px;
  background: transparent;
  cursor: pointer;
}

.profile .popup .popup-inner .close-btn svg {
  color: #c4c4c4;
}

.profile .popup .popup-inner .del-account {
  color: #f26157;
  margin-top: 30px;
}
/*# sourceMappingURL=main.css.map */

/* prop avatar */
.modal {
  font-size: 18px;
  background: rgb(133, 133, 133);
  border-radius: 3px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

@media only screen and (min-width: 768px) {
  /* .profile {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: ([col] auto) [4];
    grid-template-columns: repeat(4, [col] auto);
    -ms-grid-rows: ([row] auto) [4];
    grid-template-rows: repeat(4, [row] auto);
  } */
  .profile .profile-hdr {
    grid-column: col / span 4;
    grid-row: row;
  }
  .profile .user-info {
    grid-column: col;
    grid-row: row 2;
  }
  .profile .platforms {
    grid-column: col 2 / span 3;
    grid-row: row 2;
  }
  .profile .gamelist {
    grid-column: col;
    grid-row: row 3;
  }
  .profile .posts {
    grid-column: col 2 / span 3;
    grid-row: row 3;
  }
  .profile .logout {
    grid-column: col / span 4;
    grid-row: row 4;
  }
  .profile .popup {
    position: fixed;
    top: 30%;
    left: 20%;
    width: 90%;
    height: 50vh;
  }
}

@media only screen and (min-width: 1450px) {
  /* .profile {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: ([col] auto) [4];
    grid-template-columns: repeat(4, [col] auto);
    -ms-grid-rows: ([row] auto) [5];
    grid-template-rows: repeat(5, [row] auto);
  } */
  .profile .profile-hdr {
    grid-column: col / span 4;
    grid-row: row;
  }
  .profile .user-info {
    grid-column: col / span 2;
    grid-row: row 2;
    width: 800px;
  }
  .profile .platforms {
    grid-column: col 2 / span 2;
    grid-row: row 2;
    width: 500px;
  }
  .profile .gamelist {
    grid-column: col 2 / span 2;
    grid-row: row 3;
    width: 500px;
  }
  .profile .posts {
    grid-column: col;
    grid-row: row 3;
    width: 800px;
    min-height: 300px;
  }
  .profile .logout {
    grid-column: col / span 4;
    grid-row: row 5;
  }
  .profile .popup {
    position: fixed;
    top: 30%;
    left: 30%;
    width: 90%;
    height: 50vh;
  }
}

/* Lobby */
.allposts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 15px;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .allposts {
    margin: 25px;
    padding: 20px;
  }
}

@media only screen and (min-width: 1450px) {
  .allposts {
    margin: 45px;
    padding: 40px;
  }
}

.allposts .post {
  background-color: #eeeeee;
  margin-bottom: 10px;
  width: 100%;
  color: black;
}

.allposts .post h4 {
  padding: 8px 12px;
}

@media only screen and (min-width: 768px) {
  .allposts .post h4 {
    font-size: 25px;
    padding: 12px 22px;
  }
}

.allposts .post h1 {
  background-color: #c4c4c4;
  color: #3b6978;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Games */
.gamespage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.gamespage .head-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 20px;
}

.gamespage .head-search form input {
  padding: 12px 40px;
  font-size: 18px;
}

.gamespage .gamesList {
  background-color: #222831;
  padding: 15px 30px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 768px) {
  .gamespage .gamesList {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  .gamespage .gamesList {
    width: 80%;
  }
}

.gamespage .gamesList h3 {
  font-size: 35px;
  margin: 10px;
}

.gamespage .gamesList ul {
  width: 100%;
  list-style: none;
}

@media only screen and (min-width: 768px) {
  .gamespage .gamesList ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }
}

@media only screen and (min-width: 1450px) {
  .gamespage .gamesList ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
  }
}

.gamespage .gamesList ul .a {
  text-decoration: none;
}

.gamespage .gamesList ul li {
  color: #eeeeee;
  font-size: 30px;
  margin-bottom: 10px;
  padding: 12px 40px;
  border: #c4c4c4 3px solid;
}

.gamespage .gamesList ul li:hover {
  color: #f26157;
  border: #f26157 3px solid;
}

/* Rooms */
.rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.rooms .insideGameNameRoom {
  background-color: #222831;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 18px 45px;
  margin: 20px;
}

.rooms .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.rooms .links .CreateRoom-link,
.rooms .links .LeaveGame-link {
  margin: 15px;
}

.rooms .links .CreateRoom-link a,
.rooms .links .LeaveGame-link a {
  text-decoration: none;
  color: #eeeeee;
  font-size: 20px;
  border: #eeeeee 3px solid;
  padding: 8px 12px;
  background-color: #222831;
}

.rooms .links .CreateRoom-link a:hover,
.rooms .links .LeaveGame-link a:hover {
  color: #f26157;
  border: #f26157 3px solid;
}

.rooms .roomsList {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .rooms .roomsList {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: () [auto];
    grid-template-rows: repeat(auto);
    grid-gap: 10px;
  }
}

@media only screen and (min-width: 1450px) {
  .rooms .roomsList {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    -ms-grid-rows: () [auto];
    grid-template-rows: repeat(auto);
    grid-gap: 10px;
  }
}

.rooms .roomsList .outsideRoom {
  background-color: #c4c4c4;
  color: black;
  padding: 25px;
  width: 400px;
  margin: 15px;
}

.rooms .roomsList .outsideRoom h1 {
  color: #3b6978;
  border-bottom: #3b6978 2px solid;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.rooms .roomsList .outsideRoom .desc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  font-size: 20px;
  grid-gap: 10px;
  margin: 15px;
}

.rooms .roomsList .outsideRoom .joinbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: columns;
  flex-direction: columns;
  list-style: none;
  margin: 20px;
}

.rooms .roomsList .outsideRoom .joinbtn a {
  background-color: #3b6978;
  text-decoration: none;
  color: #c4c4c4;
  padding: 12px 22px;
}
/*# sourceMappingURL=main.css.map */
