@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("../Assets/bg.jpeg");
  background-repeat: repeat;
  background-size: 500px;
  color: #c4c4c4;
  font-family: "Play", sans-serif;
}

@media only screen and (min-width: 768px) {
  body {
    background-size: 1000px;
  }
}

@media only screen and (min-width: 1450px) {
  body {
    background-size: 1500px;
  }
}

.logo-container {
  font-family: "Permanent Marker", cursive;
}

.logo-container .logo {
  color: #3b6978;
  text-decoration: none;
  font-size: 24px;
}

@media only screen and (min-width: 768px) {
  .logo-container .logo {
    font-size: 34px;
  }
}

@media only screen and (min-width: 1450px) {
  .logo-container .logo {
    font-size: 44px;
  }
}

.logo-container .logo span {
  color: #eeeeee;
}

.menu-logo-hdr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -50px;
}

/* Landing Page */
.error,
.hero {
  margin: 2rem;
  margin-top: 60px;
}

.error .container,
.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 1450px) {
  .error .container,
  .hero .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 600px 600px;
        grid-template-columns: 600px 600px;
    grid-gap: 50px;
  }
}

.error .container .left-col,
.hero .container .left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .error .container .left-col,
  .hero .container .left-col {
    font-size: 34px;
  }
}

@media only screen and (min-width: 1450px) {
  .error .container .left-col,
  .hero .container .left-col {
    line-height: 38px;
  }
}

.error .container .left-col p,
.hero .container .left-col p {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .error .container .left-col p,
  .hero .container .left-col p {
    margin-bottom: 40px;
  }
}

.error .container .left-col a,
.hero .container .left-col a {
  text-decoration: none;
  color: #c4c4c4;
  background-color: #3b6978;
  padding: 0.7rem 2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media only screen and (min-width: 768px) {
  .error .container .left-col a,
  .hero .container .left-col a {
    padding: 1rem 3rem;
  }
}

.error .container .left-col a:hover,
.hero .container .left-col a:hover {
  background-color: #c4c4c4;
  color: #3b6978;
}

.error .container .left-col h3,
.hero .container .left-col h3 {
  color: #f26157;
  text-transform: uppercase;
  margin: 10px 20px;
  font-size: 45px;
}

.error .right-col,
.hero .right-col {
  margin-top: 50px;
}

.error .right-col .hero,
.hero .right-col .hero {
  width: 263px;
  height: 180px;
}

@media only screen and (min-width: 768px) {
  .error .right-col .hero,
  .hero .right-col .hero {
    width: 463px;
    height: 380px;
  }
}

@media only screen and (min-width: 1450px) {
  .error .right-col .hero,
  .hero .right-col .hero {
    width: 563px;
    height: 480px;
  }
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 15px;
}

footer p {
  text-align: center;
  font-size: 18px;
}

.avatar-pop {
  background: #222831;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 70px 70px 70px;
      grid-template-columns: 70px 70px 70px 70px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

/* Sign Up & Login */
.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .login {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .login header .login-hdr {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  .login header .login-hdr label {
    font-size: 3.3em;
  }
  .login header .login-hdr img {
    width: 400px;
  }
}

@media only screen and (min-width: 1450px) {
  .login {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

.login header {
  padding: 55px;
}

.login header .login-hdr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .login header .login-hdr {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
  }
}

.login header .login-hdr label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2.2em;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .login header .login-hdr label {
    font-size: 3.3em;
  }
}

@media only screen and (min-width: 1450px) {
  .login header .login-hdr label {
    font-size: 4.3em;
  }
}

.login header .login-hdr img {
  width: 200px;
}

@media only screen and (min-width: 768px) {
  .login header .login-hdr img {
    width: 300px;
  }
}

@media only screen and (min-width: 1450px) {
  .login header .login-hdr img {
    width: 400px;
  }
}

.login .login-form {
  background-color: #393e46;
  border-radius: 6px;
  width: 371px;
  height: auto;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .login .login-form {
    width: 471px;
  }
}

@media only screen and (min-width: 1450px) {
  .login .login-form {
    width: 571px;
  }
}

.login .login-form .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .login-form .container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .login-form .container .form * {
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .login .login-form .container .form * {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1450px) {
  .login .login-form .container .form * {
    font-size: 2em;
  }
}

.login .login-form .container .form input {
  background-color: #eeeeee;
  border: none;
  border-radius: 2px;
}

.login .login-form .container .form button {
  background-color: #3b6978;
  border: none;
  text-transform: uppercase;
  color: #c4c4c4;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.login .login-form .container .form button:hover {
  background-color: #c4c4c4;
  color: #3b6978;
}

.login .login-form .container .form label {
  font-weight: bold;
}

.login .login-form .container .form .toto a {
  text-decoration: none;
  font-size: 20px;
  color: #c4c4c4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.login .login-form .container .form .toto a:hover {
  color: #3b6978;
}

@media only screen and (min-width: 768px) {
  .login .login-form .container .form .toto a {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1450px) {
  .login .login-form .container .form .toto a {
    font-size: 40px;
  }
}

.login .login-form .container .form .user-hdr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login .login-form .container .form .user-hdr .names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .login .login-form .container .form .user-hdr .names {
    font-size: 26px;
  }
}

@media only screen and (min-width: 1450px) {
  .login .login-form .container .form .user-hdr .names {
    font-size: 26px;
  }
}

.login .login-form .container .form .user-hdr .names input {
  width: 130px;
}

@media only screen and (min-width: 768px) {
  .login .login-form .container .form .user-hdr .names input {
    width: 150px;
    padding: 10px 22px;
    font-size: 26px;
  }
}

@media only screen and (min-width: 1450px) {
  .login .login-form .container .form .user-hdr .names input {
    width: 150px;
    padding: 10px 22px;
    font-size: 26px;
  }
}

/* Profile */
.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile .profile-hdr {
  margin: 20px;
}

.profile .profile-hdr header {
  width: 400px;
  /* @include centerFlex(rows); */
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: ([col] auto)[2];
      grid-template-columns: repeat(2, [col] auto);
  -ms-grid-rows: ([row] auto)[2];
      grid-template-rows: repeat(2, [row] auto);
}

.profile .profile-hdr header * {
  margin-left: 2px;
}

.profile .profile-hdr header h1 {
  grid-column: col;
  grid-row: row 2;
}

.profile .profile-hdr header button {
  background: transparent;
  border: none;
  cursor: pointer;
  grid-column: col 2;
  grid-row: row 2;
}

.profile .profile-hdr header .avatar {
  text-align: center;
  grid-column: col / span 2;
  grid-row: row;
}

.profile .profile-hdr header .avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile .logout {
  cursor: pointer;
}

.profile .gamelist,
.profile .user-info {
  background-color: #c4c4c4;
  color: #222831;
  padding: 20px 30px;
  border-bottom: #3b6978 5px solid;
  border-left: #3b6978 5px solid;
  border-top: #3b6978 2px solid;
  border-right: #3b6978 2px solid;
  margin: 25px;
  width: 400px;
  border-radius: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile .gamelist i,
.profile .user-info i {
  font-size: 20px;
}

.profile .gamelist legend,
.profile .user-info legend {
  font-weight: bold;
  font-size: 25px;
  color: #222831;
  text-shadow: -2px -2px 0 #c4c4c4, 2px -2px 0 #c4c4c4, -2px 2px 0 #c4c4c4, 2px 2px 0 #c4c4c4;
  text-transform: uppercase;
}

.profile .gamelist .container,
.profile .user-info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  font-size: 24px;
}

.profile .gamelist ul,
.profile .user-info ul {
  margin: 5px 15px;
}

.profile .gamelist ul .delBtn,
.profile .user-info ul .delBtn {
  padding: 8px 8px;
  margin: 15px;
  cursor: pointer;
}

.profile .gamelist ul .delBtn abbr[title],
.profile .user-info ul .delBtn abbr[title] {
  border-bottom: none;
}

.profile .gamelist ul li,
.profile .user-info ul li {
  margin-bottom: 5px;
}

.profile .gamelist label,
.profile .user-info label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: rows;
          flex-direction: rows;
}

.profile .gamelist label .gamedatalist,
.profile .user-info label .gamedatalist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: rows;
          flex-direction: rows;
}

.profile .gamelist label .gamedatalist select,
.profile .user-info label .gamedatalist select {
  margin-left: 2px;
  padding: 2px 12px;
}

.profile .gamelist label .gamedatalist .add-game,
.profile .user-info label .gamedatalist .add-game {
  padding: 0;
  background: transparent;
  border: none;
  margin: 20px auto;
  cursor: pointer;
}

.profile .posts,
.profile .platforms {
  background-color: #c4c4c4;
  color: #222831;
  padding: 20px 40px;
  border-bottom: #3b6978 5px solid;
  border-left: #3b6978 2px solid;
  border-top: #3b6978 2px solid;
  border-right: #3b6978 5px solid;
  border-radius: 42px;
  margin: 25px;
  width: 400px;
}

.profile .posts label,
.profile .platforms label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: rows;
          flex-direction: rows;
}

.profile .posts label .gamedatalist,
.profile .platforms label .gamedatalist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: rows;
          flex-direction: rows;
}

.profile .posts label .gamedatalist select,
.profile .platforms label .gamedatalist select {
  margin-left: 2px;
  padding: 2px 12px;
}

.profile .posts label .gamedatalist .add-game,
.profile .platforms label .gamedatalist .add-game {
  padding: 0;
  background: transparent;
  border: none;
  margin: 20px auto;
  cursor: pointer;
}

.profile .posts ul,
.profile .platforms ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.profile .posts ul li,
.profile .platforms ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.profile .posts ul li .delBtn,
.profile .platforms ul li .delBtn {
  padding: 8px 8px;
  margin: 15px;
  cursor: pointer;
}

.profile .posts ul li .delBtn abbr[title],
.profile .platforms ul li .delBtn abbr[title] {
  border-bottom: none;
}

.profile .posts .myposts,
.profile .platforms .myposts {
  background-color: #222831;
  padding: 12px;
  border-radius: 12px;
  color: #eeeeee;
  margin-bottom: 5px;
}

.profile .posts .myposts i,
.profile .platforms .myposts i {
  margin-left: 15px;
}

.profile .posts .myposts i *,
.profile .platforms .myposts i * {
  margin-left: 8px;
}

.profile .posts legend,
.profile .platforms legend {
  font-weight: bold;
  font-size: 25px;
  color: #222831;
  text-shadow: -2px -2px 0 #c4c4c4, 2px -2px 0 #c4c4c4, -2px 2px 0 #c4c4c4, 2px 2px 0 #c4c4c4;
  text-transform: uppercase;
}

.profile .posts .container,
.profile .platforms .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: rows;
          flex-direction: rows;
  font-size: 24px;
}

.profile .posts .container *,
.profile .platforms .container * {
  margin: 8px;
}

.profile .posts .container label,
.profile .platforms .container label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile .posts .container label input[type="ckeckbox"],
.profile .platforms .container label input[type="ckeckbox"] {
  border: #3b6978 3px solid;
}

.profile .posts .container label input[type="ckeckbox"]:checked,
.profile .platforms .container label input[type="ckeckbox"]:checked {
  background-color: aqua;
}

.profile button {
  text-transform: uppercase;
  padding: 18px 45px;
  background-color: #3b6978;
  color: #c4c4c4;
  font-weight: bold;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.profile button:hover {
  color: #3b6978;
  background-color: #c4c4c4;
}

.profile .popup {
  position: fixed;
  top: 30%;
  width: 90%;
  height: 50vh;
  color: #c4c4c4;
}

.profile .popup .popup-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #222831;
  border: #c4c4c4 5px solid;
}

.profile .popup .popup-inner section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: rows;
          flex-direction: rows;
  margin-top: 20px;
}

.profile .popup .popup-inner section .no-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
}

.profile .popup .popup-inner section .yes-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
  color: #f26157;
}

.profile .popup .popup-inner form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile .popup .popup-inner form * {
  margin: 5px;
}

.profile .popup .popup-inner form label {
  font-size: 20px;
}

.profile .popup .popup-inner form input[type="password"],
.profile .popup .popup-inner form input[type="text"],
.profile .popup .popup-inner form input[type="email"] {
  padding: 8px 12px;
}

.profile .popup .popup-inner form input[type="button"] {
  background-color: #3b6978;
  border: none;
  color: #c4c4c4;
  font-weight: bold;
  padding: 8px 25px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.profile .popup .popup-inner form input[type="button"]:hover {
  background-color: #c4c4c4;
  color: #3b6978;
}

.profile .popup .popup-inner h1 {
  text-align: center;
  margin: 10px;
}

.profile .popup .popup-inner a {
  font-size: 18px;
  margin: 5px;
}

.profile .popup .popup-inner .close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  font-size: 15px;
  background: transparent;
  cursor: pointer;
}

.profile .popup .popup-inner .close-btn svg {
  color: #c4c4c4;
}

.profile .popup .popup-inner .del-account {
  color: #f26157;
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .profile {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: ([col] auto)[4];
        grid-template-columns: repeat(4, [col] auto);
    -ms-grid-rows: ([row] auto)[4];
        grid-template-rows: repeat(4, [row] auto);
  }
  .profile .profile-hdr {
    grid-column: col / span 4;
    grid-row: row;
  }
  .profile .user-info {
    grid-column: col;
    grid-row: row 2;
  }
  .profile .platforms {
    grid-column: col 2 / span 3;
    grid-row: row 2;
  }
  .profile .gamelist {
    grid-column: col;
    grid-row: row 3;
  }
  .profile .posts {
    grid-column: col 2 / span 3;
    grid-row: row 3;
  }
  .profile .logout {
    grid-column: col / span 4;
    grid-row: row 4;
  }
  .profile .popup {
    position: fixed;
    top: 30%;
    left: 20%;
    width: 90%;
    height: 50vh;
  }
}

@media only screen and (min-width: 1450px) {
  .profile {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: ([col] auto)[4];
        grid-template-columns: repeat(4, [col] auto);
    -ms-grid-rows: ([row] auto)[5];
        grid-template-rows: repeat(5, [row] auto);
  }
  .profile .profile-hdr {
    grid-column: col / span 4;
    grid-row: row;
  }
  .profile .user-info {
    grid-column: col / span 2;
    grid-row: row 2;
    width: 800px;
  }
  .profile .platforms {
    grid-column: col 2 / span 2;
    grid-row: row 2;
    width: 500px;
  }
  .profile .gamelist {
    grid-column: col 2 / span 2;
    grid-row: row 3;
    width: 500px;
  }
  .profile .posts {
    grid-column: col;
    grid-row: row 3;
    width: 800px;
    min-height: 300px;
  }
  .profile .logout {
    grid-column: col / span 4;
    grid-row: row 5;
  }
  .profile .popup {
    position: fixed;
    top: 30%;
    left: 30%;
    width: 90%;
    height: 50vh;
  }
}

/* Lobby */
.allposts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .allposts {
    margin: 25px;
    padding: 20px;
  }
}

@media only screen and (min-width: 1450px) {
  .allposts {
    margin: 45px;
    padding: 40px;
  }
}

.allposts .post {
  background-color: #eeeeee;
  margin-bottom: 10px;
  width: 100%;
  color: black;
}

.allposts .post h4 {
  padding: 8px 12px;
}

@media only screen and (min-width: 768px) {
  .allposts .post h4 {
    font-size: 25px;
    padding: 12px 22px;
  }
}

.allposts .post h1 {
  background-color: #c4c4c4;
  color: #3b6978;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Games */
.gamespage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gamespage .head-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

.gamespage .head-search form input {
  padding: 12px 40px;
  font-size: 18px;
}

.gamespage .gamesList {
  background-color: #222831;
  padding: 15px 30px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 768px) {
  .gamespage .gamesList {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  .gamespage .gamesList {
    width: 80%;
  }
}

.gamespage .gamesList h3 {
  font-size: 35px;
  margin: 10px;
}

.gamespage .gamesList ul {
  width: 100%;
  list-style: none;
}

@media only screen and (min-width: 768px) {
  .gamespage .gamesList ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 10px;
  }
}

@media only screen and (min-width: 1450px) {
  .gamespage .gamesList ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    grid-gap: 10px;
  }
}

.gamespage .gamesList ul .a {
  text-decoration: none;
}

.gamespage .gamesList ul li {
  color: #eeeeee;
  font-size: 30px;
  margin-bottom: 10px;
  padding: 12px 40px;
  border: #c4c4c4 3px solid;
}

.gamespage .gamesList ul li:hover {
  color: #f26157;
  border: #f26157 3px solid;
}

/* Rooms */
.rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rooms .insideGameNameRoom {
  background-color: #222831;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 18px 45px;
  margin: 20px;
}

.rooms .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.rooms .links .CreateRoom-link,
.rooms .links .LeaveGame-link {
  margin: 15px;
}

.rooms .links .CreateRoom-link a,
.rooms .links .LeaveGame-link a {
  text-decoration: none;
  color: #eeeeee;
  font-size: 20px;
  border: #eeeeee 3px solid;
  padding: 8px 12px;
  background-color: #222831;
}

.rooms .links .CreateRoom-link a:hover,
.rooms .links .LeaveGame-link a:hover {
  color: #f26157;
  border: #f26157 3px solid;
}

.rooms .roomsList {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .rooms .roomsList {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: ()[auto];
        grid-template-rows: repeat(auto);
    grid-gap: 10px;
  }
}

@media only screen and (min-width: 1450px) {
  .rooms .roomsList {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: ()[auto];
        grid-template-rows: repeat(auto);
    grid-gap: 10px;
  }
}

.rooms .roomsList .outsideRoom {
  background-color: #c4c4c4;
  color: black;
  padding: 25px;
  width: 400px;
  margin: 15px;
}

.rooms .roomsList .outsideRoom h1 {
  color: #3b6978;
  border-bottom: #3b6978 2px solid;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.rooms .roomsList .outsideRoom .desc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  font-size: 20px;
  grid-gap: 10px;
  margin: 15px;
}

.rooms .roomsList .outsideRoom .joinbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: columns;
          flex-direction: columns;
  list-style: none;
  margin: 20px;
}

.rooms .roomsList .outsideRoom .joinbtn a {
  background-color: #3b6978;
  text-decoration: none;
  color: #c4c4c4;
  padding: 12px 22px;
}

.gamers-cont h3 {
  text-align: center;
  margin: 20px;
  font-size: 30px;
  background-color: #222831;
  padding: 8px 12px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gamers-cont .gamers .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: #eeeeee 3px solid;
  margin: 20px;
}

.gamers-cont .gamers .container:hover {
  border: #f26157 3px solid;
}

.gamers-cont .gamers .container a {
  text-decoration: none;
  color: #eeeeee;
  padding: 12px 18px;
}

.gamers-cont .gamers .container a:hover {
  color: #f26157;
}

.gamers-cont .gamers .container i {
  font-size: 20px;
  padding: 12px 18px;
}

@media only screen and (min-width: 768px) {
  .gamers-cont .gamers-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 10px;
  }
}

@media only screen and (min-width: 1450px) {
  .gamers-cont .gamers-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    grid-gap: 10px;
  }
}

/* Gamer Profile */
.userProf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.userProf .userIcon {
  margin: 25px;
}

.userProf .userIcon img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.userProf .userInfo {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 400px;
  background-color: #222831;
  padding: 12px 12px;
}

.userProf .userInfo fieldset {
  border: #f26157 3px solid;
  padding: 8px;
  font-size: 25px;
  line-height: 52px;
}

.userProf .userInfo fieldset legend {
  color: #f26157;
  text-transform: uppercase;
  font-size: 25px;
}

.userProf .userInfo fieldset ul {
  list-style-type: none;
}

.userProf .userInfo fieldset ul li {
  margin-left: 30px;
}

.userProf .userInfo fieldset ul .gamer-plat img {
  margin: 10px 20px;
}

.userProf .userInfo .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px;
  padding: 12px 22px;
}

.userProf .userInfo .back .backbtn {
  text-decoration: none;
  color: #c4c4c4;
  font-size: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 12px 22px;
}

.userProf .userInfo .back .backbtn:hover {
  color: #f26157;
  border: #f26157 3px solid;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Create Room */
.create-room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px;
  padding: 10px;
}

.create-room h1 {
  margin-bottom: 10px;
  text-align: center;
}

.create-room .container form {
  width: 400px;
  background-color: #222831;
  padding: 12px 12px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.create-room .container form label {
  font-size: 20px;
  line-height: 45px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create-room .container form label input {
  padding: 12px 20px;
}

.create-room .container form button {
  border: none;
  padding: 12px 22px;
  background-color: #3b6978;
  color: #eeeeee;
  font-size: 25px;
  margin-left: 12%;
  cursor: pointer;
}

.create-room .container form button:hover {
  background-color: #eeeeee;
  color: #3b6978;
}

/* Inside Room */
.insideroom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.insideroom h2 {
  text-transform: uppercase;
  margin: 20px;
}

.insideroom .buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 10px;
}

.insideroom button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #eeeeee;
  background-color: #f26157;
  padding: 12px 22px;
}

.insideroom button:hover {
  font-weight: bold;
}

.insideroom a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  color: #eeeeee;
  background-color: #f26157;
  padding: 12px 22px;
}

.insideroom a:hover {
  font-weight: bold;
}

.insideroom .roomdesc {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  margin: 10px;
  width: 450px;
  background-color: #222831;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 200px;
      grid-template-columns: 200px 200px;
  grid-gap: 20px;
}

.insideroom .roomdesc .rules {
  border-left: #eeeeee 2px solid;
  padding-left: 5px;
}

.insideroom .roomdesc h4 {
  font-size: 25px;
}

.insideroom .roomdesc p {
  font-size: 20px;
}

.insideroom .players {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  margin: 10px;
  width: 450px;
  background-color: #222831;
}

.insideroom .players ul {
  list-style: none;
}

.insideroom .players ul li {
  padding: 12px 20px;
  font-size: 18px;
}

/* Home Page */
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .home .container .sec-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 1450px) {
  .home .container .sec-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.home .container .left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home .container .left-col .inside h2 {
  font-size: 30px;
  margin: 15px;
}

@media only screen and (min-width: 768px) {
  .home .container .left-col .inside h2 {
    font-size: 35px;
    margin: 20px;
  }
}

@media only screen and (min-width: 1450px) {
  .home .container .left-col .inside h2 {
    font-size: 45px;
    margin: 30px;
  }
}

.home .container .left-col .inside p {
  font-size: 20px;
  width: 300px;
  text-align: center;
  margin: 15px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .home .container .left-col .inside p {
    font-size: 22px;
    margin: 30px;
    width: 400px;
  }
}

@media only screen and (min-width: 1450px) {
  .home .container .left-col .inside p {
    font-size: 33px;
    margin: 45px;
    width: 500px;
  }
}

.home .container .left-col .btns {
  text-align: center;
  margin: 15px;
}

@media only screen and (min-width: 768px) {
  .home .container .left-col .btns * {
    margin: 20px;
  }
}

@media only screen and (min-width: 1450px) {
  .home .container .left-col .btns * {
    margin: 30px;
  }
}

.home .container .left-col .btns a {
  color: #eeeeee;
  background-color: #3b6978;
  text-decoration: none;
  padding: 12px 20px;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .home .container .left-col .btns a {
    padding: 22px 30px;
    font-size: 25px;
    margin: 20px;
  }
}

@media only screen and (min-width: 1450px) {
  .home .container .left-col .btns a {
    padding: 35px 30px;
    font-size: 35px;
    margin: 30px;
  }
}

.home .container .left-col .btns a:hover {
  background-color: #f26157;
}

.home .container .right-col {
  text-align: center;
  margin: 45px;
}

.home .container .right-col img {
  width: 300px;
}

@media only screen and (min-width: 768px) {
  .home .container .right-col img {
    width: 400px;
  }
}

@media only screen and (min-width: 1450px) {
  .home .container .right-col img {
    width: 500px;
  }
}

@media only screen and (min-width: 768px) {
  .home .container .home-body {
    margin: 80px;
    font-size: 40px;
  }
}

@media only screen and (min-width: 1450px) {
  .home .container .home-body {
    margin: 80px;
    font-size: 40px;
  }
}

.home .container .home-body section {
  color: #eeeeee;
  margin-bottom: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.home .container .home-body section h1 {
  background-color: #222831;
  color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 8px 8px;
}

.home .container .home-body section p {
  font-size: 20px;
  padding: 12px 12px;
  margin: 15px;
}

@media only screen and (min-width: 768px) {
  .home .container .home-body section p {
    margin: 50px;
    font-size: 30px;
  }
}

@media only screen and (min-width: 1450px) {
  .home .container .home-body section p {
    margin: 50px;
    font-size: 30px;
  }
}

.home .container .home-body section a {
  text-decoration: none;
  background-color: #3b6978;
  color: #eeeeee;
  padding: 12px 22px;
  width: 150px;
  margin: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .home .container .home-body section a {
    width: 320px;
  }
}

@media only screen and (min-width: 1450px) {
  .home .container .home-body section a {
    width: 420px;
  }
}

.home .container .home-body section a:hover {
  background-color: #f26157;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home .container .home-body .s2 {
  background-color: #eeeeee;
  color: #222831;
}

.home .container .home-body .s2 h1 {
  background-color: #eeeeee;
  color: #222831;
  margin: 10px;
}

.home .container .home-body .s2 span {
  color: #f26157;
  font-weight: bold;
}

/* Support */
.support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .support .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 1450px) {
  .support .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.support .container .left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
}

.support .container .left-col h1 {
  margin: 15px;
  color: #f26157;
}

.support .container .left-col p {
  font-size: 20px;
  font-weight: bold;
}

.support .container .left-col img {
  margin: 25px;
  width: 300px;
}

.support .container .right-col {
  margin: 15px;
}

.support .container .right-col form {
  background-color: #222831;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.support .container .right-col form label {
  font-size: 25px;
  margin: auto;
}

.support .container .right-col form input {
  padding: 8px 12px;
  margin: 10px;
}

.support .container .right-col form textarea {
  margin: 10px;
  height: 90px;
  padding: 8px 12px;
  resize: none;
  overflow: auto;
}

.support .container .right-col form .send-btn {
  background-color: #3b6978;
  color: #eeeeee;
  border: none;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.support .container .right-col form .send-btn:hover {
  background-color: #f26157;
}

/* Loading Page */
.loading-page {
  background-color: #222831;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 100%;
  height: 100%;
}

.loading-page .icons-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 40px;
      grid-template-columns: 40px 40px;
  -ms-grid-rows: 40px 40px;
      grid-template-rows: 40px 40px;
  -webkit-animation: rotation 5s infinite;
          animation: rotation 5s infinite;
}

.loading-page .icons-container img {
  -webkit-animation: rotation 5s infinite;
          animation: rotation 5s infinite;
  padding: 5px;
}

@-webkit-keyframes rotation {
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */